$primary-color1: #000000;
$primary-color2: #ffbb00;
$Main-Light-Yellow: #ffcf4b;
$Stroke-Dark-Yellow: #ffc422;
$Main-Light-Grey: #f9f9f9;
$Stroke-Dark-Grey: #cec6c6;
$Main: #263238;
$Secondary: #65624c;
$Gray1: #333333;
$Gray2: #4f4f4f;
$Gray3: #828282;
$Gray4: #b7b6b8;
$Gray5: #e0e0e0;

$h1: 58px;
$h2: 36px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
body {
  font-family: "Inter";
  background: white;
  font-weight: 700;
  color: $Main;
}
@mixin box-shadow {
  box-shadow: 0px 1.08px 8.63px 0px rgba(0, 0, 0, 0.06);
}
.footer {
  background-color: $Main;
  padding: 12px;
  color: $Main-Light-Grey;
  h6 {
    margin: 0;
    color: rgba(221, 221, 221, 1);
  }
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h2 {
  font-size: $h2;
}
h1 {
  font-size: $h1;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}

@media only screen and (max-width: 768px) {
  #root h1 {
    font-size: 20px;
  }
  #root h2 {
    font-size: 24px;
  }
  #root h5 {
    font-size: 14px;
  }
  #root h4 {
    font-size: 18px;
  }
  #root h6 {
    font-size: 12px;
  }
}
